<%- include('header') %>
  <h2> Admin Categorias:</h2>
    <div>
        <ul>
          <% categorias.forEach(categorias => { %>
          <li> <a href="/admin/categorias/<%- categorias.id %>"> <%- categorias.categoria %> </a> </li>
          <% }) %>
        </ul>
    </div>
<%- include('footer') %>