<%- include('header') %>
  <h2> Admin Vagas:</h2>
    <div>
        <ul>
          <% vagas.forEach(vagas => { %>
          <li> 
             <%- vagas.titulo %> | 
             <a href="/admin/vagas/delete/<%- vagas.id %>"> Excluir </a> 
          </li>
             <% }) %>
        </ul>
    </div>
<%- include('footer') %>