<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="aboutme.css">
    <title>
      About Me - Marcelo Ribas
    </title>
  </head>
  <body>
    <div class="myName"> 
     <h1> <a href="/"> Marcelo Silva Pachione Ribas </a> </h1>
    </div>    

    <div>
      <fieldset class="myPersonalData"> <legend> Personal Information: </legend>
        <p> Adress: Avenida Mendonça Drumond, 240 <br>
          Cel Phone: (11) 95830-2711 <br>
          E-mail / Skype: marcelo.ribas@alphadba.com
        </p>
      </fieldset>
    </div>

    <div>
      <fieldset> <legend> Work Experience: </legend>
        <p> Empresa: Movent Automotive, São Paulo (Brazil) <br>
        Cargo: DBA Oracle e SQL Server
        </p>
        <ul>
          <li>Administration, configuration and maintenance of Oracle 10g, 11g and 12c databases using Exadata or not;</li>
          <li>Creation and maintenance of Stand-By environments using RMAN and DATAGUARD;</li>
          <li>Creation and maintenance of environment with high availability using Oracle RAC 11g and 12c;</li>
          <li>Creation and maintenance of Shell scripts;</li>
          <li>Experience working in Linux/Unix and Windows environments;</li>
        </ul>

        <p> Empresa: UnitedHealth Group (Amil Health Plan), São Paulo (Brazil)  <br>
          Cargo: DBA Oracle e SQL Server
          </p>
          <ul>
            <li> Administration, configuration and maintenance of Oracle 10g, 11g and 12c databases using Exadata or not; </li>
            <li> Creation and maintenance of Stand-By environments using RMAN and DATAGUARD; </li>
            <li> Creation and maintenance of environment with high availability using Oracle RAC 11g and 12c; </li>
            <li> Creation and maintenance of Shell scripts; </li>
            <li> Participation in the elaboration and implementation of internally developed application Tuning projects, together with the development, operational and infrastructure teams. </li>
            <li> Experience working in Linux/Unix and Windows environments; </li> 
            <li> Administration, configuration and maintenance of databases SQL Server 2008, 2012, 2014 and 2016; </li> 
            <li> Creation and maintenance of environment with high availability using SQL Server Always On Availbility Group, Log Shipping, Database Mirroring; </li>
            <li> Monitoring setup using the Zabbix tool. </li>
          </ul>
      </fieldset>

      <div>
        <fieldset> <legend> Education and Training: </legend>
          <p> Big Data MBA and Data Analysis <br>
          Status: Studying</p>

          <p> Database Technology <br>
          Status: Complete</p>

          <fieldset> <legend> Certifications: </legend>
            <ul>
              <li>Oracle 11g Certified Assossiate (OCA)</li>
              <li>MTA: Database Fundamentals SQL Server</li>
            </ul>
          </fieldset>
        </fieldset>
      </div>
    </div>
  </body>
</html>








